// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  margin-bottom: 80px;
}

.navbar {
  color: #ccc;
}

.navbar-default {
    background-color: #000;
    border-width: 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
  float: left;
  padding: 15px 15px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  height: 50px;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #484848;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #000;
}

.navbar-default .navbar-nav > li > a {
  display: inline-block;
    color: #ccc;
}

.current-user-first-name {
  padding-right: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.page-header {
  padding-bottom: 30px;
  margin: 0 0 30px;
}

main section.products-index .products .product, main section.categories-show .products .product {
    max-width: 260px;
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 80px;
    margin-top: 20px;
}
